@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --background: 84 56% 98%;
    --foreground: 140 6% 10%;
    --card: 84 56% 98%;
    --card-foreground: 140 6% 10%;
    --popover: 84 56% 98%;
    --popover-foreground: 140 6% 10%;
    --primary: 156 100% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 137 12% 35%;
    --secondary-foreground: 140 6% 10%;
    --muted: 120 15% 88%;
    --muted-foreground: 128 6% 27%;
    --accent: 72 15% 94%;
    --accent-foreground: 120 3% 19%;
    --destructive: 0 75% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 120 15% 88%;
    --input: 120 15% 88%;
    --ring: 149 99% 69%;
    --radius: 0.5rem;
  }

  .dark {
    --radius: 0.5rem;
    --background: 140 6% 10%;
    --foreground: 84 8% 88%;
    --card: 140 6% 10%;
    --card-foreground: 84 8% 88%;
    --popover: 140 6% 10%;
    --popover-foreground: 84 8% 88%;
    --primary: 151 73% 56%;
    --primary-foreground: 153 100% 11%;
    --secondary: 133 18% 75%;
    --secondary-foreground: 84 8% 88%;
    --muted: 130 5% 24%;
    --muted-foreground: 120 8% 77%;
    --accent: 120 3% 19%;
    --accent-foreground: 84 8% 88%;
    --destructive: 6 100% 84%;
    --destructive-foreground: 357 100% 21%;
    --border: 128 6% 27%;
    --input: 128 6% 27%;
    --ring: 155 100% 16%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
